apache-airflow
pandas
requests
beautifulsoup4
elasticsearch==7.17.10  # Important: doit correspondre à la version d'Elasticsearch/Kibana
psycopg2-binary         # Pour la connexion à la base de données Postgres d'Airflow
apache-airflow-providers-postgres